<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%-messages()%>

<h2>Subject: </h2>
<p><%- subject %></p>
<h2>From: </h2>
<p><%- messageFrom%></p>
<h2>Message: </h2>
<p><%- messageBody%></p>
<p>----------------------------------------------------------------------------</p>
<p hidden>message_ID</p>
<a href="/inbox">Return to Inbox</a>
<a href="/inbox/reply">Reply</a>
<a href="/inbox/message/<%- message_id%>/read">Mark as Read</a>
<a href="/inbox/archive">Archive Message</a>
<a href="/inbox/delete">Delete Message</a>